//- mixin section_heading(textTitle, textCaption, boolCenterText, boolColorText)
//-     .section-heading
//-         h2(class=`section-heading__title 
//-             ${boolColorText == true ?'section-heading--alt' : ''} 
//-             ${boolCenterText == true ? 'section-heading--center' : ''}`
//-         )= textTitle
//-         h3(class=`section-heading__caption 
//-             ${boolColorText == true ? 'section-heading--alt' : ''} 
//-             ${boolCenterText == true ? 'section-heading--center' : ''}`
//-         )= textCaption

mixin content(textTitle, textCaption, boolColorText, boolCenterText)
    .section-title
        h2(class=`section-heading__title ${boolColorText == true ? '': 'section-heading--text-alt'}  ${boolCenterText == true ? 'section-heading--text-center': ''}`)= textTitle
        h3(class=`section-heading__caption ${boolColorText == true ? '': 'section-heading--text-alt'}  ${boolCenterText == true ? 'section-heading--text-center': ''}`)= textCaption